spring:
  cloud:
    gateway:
       routes:
       - id: farmer-service
         uri: lb://farmer-service
         predicates:
         - Path=/farmer/**
       - id: trader-service
         uri: lb//trader-service
         predicates:
         - Path=/trader/**
       - id: crop-api
         uri: lb://crop-api
         predicates:
         - Path=/crops/**
         
    application:
        name: API-GATEWAY
